<div id="<%= dom_id reader %>">
  <p>
    <strong>Readername:</strong>
    <%= reader.readername %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= reader.comments %>
  </p>

  <p>
  <strong>Rating:</strong>
  <%= reader.rating %>
</p>

  <p>
    <strong>Book:</strong>
    <%= reader.book_id %>
  </p>

</div>
